<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Forms of Ragging</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-label> <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon> To address seniors as 'Sir'</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label>
        <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
        To perform mass drills
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label>
        <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
        To copy class notes for the seniors
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label>
        <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
        To serve various errands
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label>
        <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
        To do menial jobs for the seniors
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label>
        <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
        To ask / answer vulgar questions
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label>
      <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
      To look at pornographic pictures to 'shock the fresher's out of their innocence</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label>
      <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
      To force to drink alcohol, scalding tea, etc</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label>
      <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
      To force to do acts with sexual overtones, including homosexual acts</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-label>
      <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
      To force to do acts which can lead to physical injury / mental torture or death</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
