// ion-toolbar{
//     --background:#9edbca;
//   }

ion-toolbar {
  color: #000000;
}

ion-title{
  color: #fff;
  letter-spacing: 1.5px;
  text-align: center;
}

/*ion-icon{
  background: #ba68c8;
  border-color:  #ba68c8;
}*/