<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios" style="margin-top: 60px; height: 290px;">
    <form #f="ngForm">
      <ion-row>
        <ion-col>
          <ion-list style="margin-right: 10px;">
            <ion-item>
              <ion-input
                #pass="ngModel"
                [(ngModel)]="password"
                type="password"
                placeholder="Password (Min 6 characters)"
                name="password"
                required
                [ngClass]="{'invalid': !pass.valid && pass.touched}"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                #confirmPass="ngModel"
                [(ngModel)]="confirmPassword"
                type="password"
                placeholder="Confirm Password"
                name="confirPassword"
                pattern="{{ pass.value }}"
                [ngClass]="{'invalid': !confirmPass.valid && confirmPass.touched}"
                required
              >
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 36px;">
        <ion-col class="signup-col">
          <ion-button
            expand="block"
            color="light"
            style="letter-spacing: 2px;"
            [disabled]="f.invalid"
            (click)="Change()"
            ><b>Change Password</b>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>