.ion-label-class {
  color: #404040;
  letter-spacing: 1px;
  margin-left: 5px;
}

.ion-icon-class {
  color: #000;
  height: 23px;
  width: 23px;
}

ion-item {
  margin-bottom: 10px;
}


ion-toolbar {
  color: #000000;
}

ion-title {
  color: #000000;
  letter-spacing: 1.5px;
}
