<ion-app>
  <ion-menu contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-title style="letter-spacing: 1px;">Options</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list style="margin-top: 1rem;">
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="spotRagging()">
            <ion-icon
              src="./../assets/icon/eye.svg"
              class="ion-icon-class"
            ></ion-icon>
            <ion-label class="ion-label-class">Ragging Signs</ion-label>
          </ion-item>
          <ion-item (click)="prevention()">
            <ion-icon
              src="./../assets/icon/shield.svg"
              class="ion-icon-class"
            ></ion-icon>
            <ion-label class="ion-label-class">Preventions</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="ion-label-class">Log Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
