<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center;">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="image">
          <img
            src=".\assets\images\pngtree-chinese-style-light-red-blush-ink-effect-ppt-background-template-effectlight-image_54552.jpg"
            style="width:100%; height:100%;" />
        </div>
        <div *ngIf="imageUrl;else deafult">
          <div class="image-over">
            <img [src]="imageUrl" style="width:30%; height:30%; border-radius:50%;" />
          </div>
        </div>
        <ng-template #deafult>
          <div class="image-over">
            <img src=".\assets\images\displaypic.jpg" style="width:30%; height:30%; border-radius:50%;" />
          </div>
        </ng-template>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item style="text-align: center;">
          <ion-label style="font-weight: bold;font-size: 20px;">
            {{username}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-icon color="medium" name="mail"></ion-icon>
      </ion-col>
      <ion-col>
        <ion-label>
          <a style="font-size: 20px;">
            {{email}}</a>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-icon color="medium" name="call"></ion-icon>
      </ion-col>
      <ion-col style="font-size: 20px;">
        {{department}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding>
    <ion-button expand="block" color="light" style="letter-spacing: 2px;" (click)="EditProfile()">Update Profile
    </ion-button>
  </div>
  <!-- <div padding>
    <ion-button expand="block" color="light" style="letter-spacing: 2px;" (click)="ChangePassword()">Change Password
    </ion-button>
  </div> -->

</ion-content>