.image {
  position: absolute;
  width: 100%;
}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

.text-over {
  position: absolute;
  top: 75px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 25px;
}

h3{
    padding-top: 5px;
    margin-top: 5px;
}

