$fontcolor1: #fff;
$fontfam1: "Courier New", Courier, monospace;

ion-toolbar {
  --background: #49bac9;
  color: $fontcolor1;
  // letter-spacing: 1px;
}

img {
  height: 150px;
}
ion-card-content {
  margin-right: 10px;
}

ion-icon[name="person-add-outline"] {
  justify-self: end;
  align-self: center;
  height: 1.2rem;
  width: 1.2rem;
}

ion-fab {
  color: medium;
}
ion-fab > ion-fab-button {
  margin: auto;
  color: medium;
}

ion-fab-button {
  height: 60px;
  width: 60px;
}

.font-head {
  color: $fontcolor1;
  font-size: 25px;
  font-weight: normal;
  font-family: $fontfam1;
  padding-top: 30px;
}

.icons {
  color: #49bac9;
}

.min-max-width {
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto;
}

ion-button {
  display: inline-block;
}
