$fontcolor1: #fff;
$fontfam1: "Courier New", Courier, monospace;

ion-toolbar{
  --background:#9edbca;
}

.profile-header {
  height: 120px;
  background-color: #9edbca;
  text-align: center;
  border-radius: 5%;
}
.profile-body {
  --background: url("./../../assets/images/Capture.JPG") 0 0/100% 100% no-repeat; // this is for whole UI for ioncontent got it
}

ion-icon[name="person-add-outline"] {
  justify-self: end;
  align-self: center;
  height: 1.2rem;
  width: 1.2rem;
}

ion-fab {
  color:medium;
}
ion-fab > ion-fab-button {
  margin: 0 auto;
  color:medium;
}

ion-fab-button {
  height: 40px;
  width: 40px;
}

.font-head {
  color: $fontcolor1;
  font-size: 25px;
  font-weight: normal;
  font-family: $fontfam1;
  padding-top: 30px;
}

.icons {
  color: $fontcolor1;
}
