<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="profile-header">
        <div class="font-head">Anuradha Date</div>
        <div><ion-icon name="mail" class="icons"></ion-icon
          ><a href="mailto:anuradha.date@spit.ac.in">
            anuradha.date@spit.ac.in</a
          ></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
