<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Preventions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      - Try hanging out with the students of your batch.
    </ion-card-content>
    <ion-card-content>
      - Try participating in various on campus activities which shows that you are confident.
    </ion-card-content>
    <ion-card-content>
      - Your confidence should be seen in eyes so that no one tries to bully you.
    </ion-card-content>
    <ion-card-content>
      - Keep anti- ragging group’s number on speed dial.
    </ion-card-content>
    <ion-card-content>
      - Be brave and ask the students that you won’t do as they say.
    </ion-card-content>
    <ion-card-content>
      - Try to avoid passing them in case you think they might rag you.
    </ion-card-content>
  </ion-card>
</ion-content>
