<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Preventions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>Try hanging out with the students of your batch.
    </ion-card-content>
    <ion-card-content>
      <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>Try participating in various on campus activities which shows that you are confident.
    </ion-card-content>
    <ion-card-content>
      <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>Your confidence should be seen in eyes so that no one tries to bully you.
    </ion-card-content>
    <ion-card-content>
      <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
      Keep anti- ragging group’s number on speed dial.
    </ion-card-content>
    <ion-card-content>
      <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
      Be brave and ask the students that you won’t do as they say.
    </ion-card-content>
    <ion-card-content>
      <ion-icon color="medium"ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
      Try to avoid passing them in case you think they might rag you.
    </ion-card-content>
  </ion-card>
</ion-content>
