<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>preventions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <h6> - Try hanging out with the students of your batch.</h6>

    <h6> - Try participating in various on campus activities which shows that you are confident.</h6>

    <h6> - Your confidence should be seen in eyes so that no one tries to bully you.</h6>

    <h6> - Keep anti- ragging group’s number on speed dial.</h6>

    <h6> - Be brave and ask the students that you won’t do as they say.</h6>

    <h6> - Try to avoid passing them in case you think they might rag you.</h6>
  

</ion-content>
