
ion-button {
  letter-spacing: 2px;
  color: rgb(207, 143, 15);
}

.invalid {
  border-bottom: 1px solid red;
}

h4 {
  color: #000000;
}

ion-content {
  background: #d0fffd;
}

a {
  color: #f56e82;
}

ion-toolbar {
  color: #000000;
}

ion-title{
  letter-spacing: 1.5px;
  font-size: large;
  text-align: center;
}