ion-button {
  letter-spacing: 2px;
  color: floralwhite;
}

.invalid {
  border-bottom: 1px solid red;
}

h4 {
  color: #000000;
}

ion-content {
  background: #d0fffd;
}



ion-toolbar {
  color: #000000;
}

ion-title{
  color:white;
  letter-spacing: 1.5px;
  text-align: center;
}

ion-card{
  margin-top: 150px;
  }