<ion-header>
  <ion-toolbar>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios" style="margin-top: 30px;">
    <form #f="ngForm" (ngSubmit)="nextPage()">
      <ion-row>
        <ion-col>
          <ion-list style="margin-right: 10px;">
            <ion-item>
              <ion-input #usernames="ngModel" [(ngModel)]="username" name="username" type="text" placeholder="Username"
                required [ngClass]="{'invalid': !usernames.valid && usernames.touched}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input #dept="ngModel" [(ngModel)]="department" type="text" placeholder="Department" name="dept"
                required [ngClass]="{'invalid': !dept.valid && dept.touched}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input #email="ngModel" [(ngModel)]="emails" type="text" placeholder="Email" name="email" required
                email [ngClass]="{'invalid': !email.valid && email.touched}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input #pass="ngModel" [(ngModel)]="password" type="password" placeholder="Password" name="password"
                required [ngClass]="{'invalid': !pass.valid && pass.touched}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input #confirmPass="ngModel" [(ngModel)]="confirmPassword" type="password"
                placeholder="Confirm Password" name="confirPassword" pattern="{{ pass.value }}"
                [ngClass]="{'invalid': !confirmPass.valid && confirmPass.touched}" required>
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <ion-button expand="block" color="medium" style="letter-spacing: 2px;" [disabled]="f.invalid">Sign up
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>